.ingredients-list-entry {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  margin-top: 27px;
  cursor: pointer;

  &__label {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    cursor: pointer;
    padding-right: 35px;

    &--symbol {
      padding-right: 0;
    }
  }

  &__image {
    width: 90px;
    height: 90px;
    border: 2px solid var(--border-light);
    object-fit: contain;
    transition: all 0.3s linear;
  }

  &__title {
    display: block;
    font-weight: 500;
    font-size: var(--font-size-l);
    padding-left: 15px;
    padding-bottom: 5px;
    line-height: 30px;
  }

  &__text {
    font-size: var(--font-size-s);
    color: var(--secondary-text-color);
    padding-left: 15px;
    display: block;
  }

  &__price {
    display: block;
    font-size: var(--font-size-s);
    color: var(--secondary-text-color);
    padding-left: 15px;
    padding-top: 10px;
    transition: all 0.3s linear;
  }

  &__input {
    height: 90px;
    margin: 0 0 0 25px;
    line-height: 90px;

    &[type=radio], &[type=checkbox] {
      position: absolute;
      visibility: hidden;
      &:checked ~ .ingredients-list-entry__check::before,
      &:checked ~ .ingredients-list-entry__check::after {
        background: #000;
      }
      :checked ~ .ingredients-list-entry__label {
        color: #000;
      }
    }

  }

  &__check {
    display: block;
    position: absolute;
    border: 2px solid var(--border-light);
    height: 30px;
    width: 30px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 5;
    pointer-events: none;
    background: #fff;
    transition: all 0.3s linear;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 6px;
      left: 12px;
      height: 14px;
      width: 2px;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }

    &--radio {
      border-radius: 100%;
      &::before {
        height: 6px;
        width: 6px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: background 0.25s linear;
        border-radius: 100%;
      }
      &::after {
        display: none;
      }

    }

    &--symbol {
      top: inherit;
      bottom: -15px;
    }

  }

  &.added {
    .ingredients-list-entry {
      &__image, 
      &__check {
        border: 2px solid var(--primary-color);
      }
      &__price {
        color: var(--primary-text-color);
      }
    }
  }

}

.ingredients-list-entry--symbols {
  margin: 5px;

  .ingredients-list-entry {
    &__image {
      width: 105px;
      height: 105px;
    }
    &__input {
      position: absolute;
      margin: 0;
      height: auto;
      line-height: inherit;
      right: 0;
      bottom: 0;
    }
  }
}