.button {
  cursor: pointer;
  border: 2px solid var(--primary-color);
  border-radius: 100px;
  display: inline-block;
  outline: 0;
  padding: 10px 15px 10px 15px;
  vertical-align: middle;
  overflow: hidden;
  font-size: var(--font-size-s);
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  transition: all 0.3s ease 0s;

  &--primary {
    color: var(--white);
    background-color: var(--primary-color);

    &:hover {
      background-color: var(--primary-color);
      color: var(--white);
      box-shadow: 0 4px 6px 0 rgba(0,0,0,0.10);
      transform: translate(0, -5px);
    }

    &::after {
      content: '>';
      padding-left: 10px;
    }
  }

  &--secondary {
    color: var(--primary-color);
    background-color: var(--white);

    &:hover {
      background-color: var(--primary-color);
      color: var(--white);
      box-shadow: 0 4px 6px 0 rgba(0,0,0,0.10);
      transform: translate(0, -5px);
    }
  }
}