/* Base Styles -------------------- */

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
}

body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: var(--base-font);
    font-size: var(--font-size-m);
    line-height: 1.25;
    font-style: normal;
    font-weight: 400;
    color: var(--primary-text-color);
}

h1, h2, h3 {
    font-family: var(--base-font);
    font-style: normal;
    font-weight: 500;
}

h1 {
    font-size: var(--font-size-xxl);
}

h2 {
    font-size: var(--font-size-xl);
}

h3 {
    font-size: var(--font-size-l);
}

p {
    font-size: var(--font-size-l);
    color: var(--secondary-text-color);
    line-height: 1.4;
}


/* Pseudo-classes ------------------ */

a {
    &:link {
        color: var(--primary-color);
        text-decoration: none;
    }
    &:visited {
        color: var(--primary-color);
    }
    &:hover {
        // color: rgba(var(--secondary-color), .5);
    }
}


/* Layout-classes ------------------ */

.site-content {
    height: auto;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	min-height: 0;
    position: relative;
	margin-left: auto;
	margin-right: auto;
    clear: both;
    padding-bottom: 3em;
    
    //&.detail {
    //    padding-top: 3%;
    //
    //    /* Tablet */
    //    @media only screen and (max-width: 1024px) {
    //        padding-top: 15%;
    //    }
    //
    //    /* Mobile */
    //    @media only screen and (max-width: 768px) {
    //        padding-top: 30%;
    //    }
    //}
}

.pane {
    // border: 1px solid red;

    &.gray {
        background: var(--bg-color-light);
    }

    &--first {
        padding-bottom: 5%;
    }
}

.layout-center-xl,
.site-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    position: relative;
    width: 1125px;

    @media (max-width: 1185px) {
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    @media (max-width: 580px) {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.layout-center-l {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    position: relative;
    width: 935px;

    @media (max-width: 1185px) {
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    @media (max-width: 580px) {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.customizer {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
}