.cart-list {
    &__header {
        margin-bottom: 40px;
    }

    &__list {
        border-top: 1px solid var(--border-light);
    }
    
    &__summary {
        display: flex;
        justify-content: space-between;
        font-size: var(--font-size-l);
        padding: 15px 0px;
        margin-bottom: 15px;
    }
    
    &__actions {
        display: flex;
        justify-content: flex-end;

        .cta-large {


        }
    }

    &__empty-state {
        background-color: rgba(0, 0, 0, 0.01);
        text-align: center;
        padding: 50px;
        border-bottom: 1px solid var(--border-light);
    }

    &__empty-state-img {
        max-width: 100%;
        opacity: 1;
    }

    &__empty-state-text {
        margin-top: 20px;
    }
}
