.logo {
    padding-top: 15px;
    margin-left: -5px;

    &__link {
        display: block;
    }
}

@media (min-width: 768px) {
    .logo {
        padding-top: 20px;
        margin-left: -5px;
    }
}

@media (min-width: 1025px) {
    .logo {
        padding-top: 30px;
        margin-left: -5px;
    }
}