.product-teaser {
    margin-bottom: 30px;

    .product-teaser__image {
        img {
            width: 100%
        }
    }

    .product-teaser__content {
        padding: 10px 0px 0px 0px;

        h3 {
            margin-bottom: 5px;
            font-size: var(--font-size-l);
        }
    }

    .product-teaser__price,
    .product-teaser__description {
        color: var(--secondary-text-color);
    }

    .product-teaser__price {
        font-size: var(--font-size-s);
    }

    .product-teaser__description {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: var(--font-size-m);
    }
}


/* Mobile */
@media only screen and (max-width: 768px) {
    .product-teaser {
        display: flex;
        align-items: flex-start;
        margin-bottom: 0px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0,0,0,0.10);

        .product-teaser__image {
            width: 150px;
        }

        .product-teaser__content {
            padding: 0px 0px 0px 15px;
        }
        .product-teaser__price {
            margin-bottom: 0.75em;
        }
        .product-teaser__description {
            display: none;
        }
    }
}