.product-teaser {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.10);

    &__image {
        margin-right: 15px;
        height: 100px;
    }

    &__content {
        padding: 10px 0 0 0;
    }

    &__title {
        margin-bottom: 5px;
        font-size: var(--font-size-l);
    }

    &__price,
    &__description {
        color: var(--secondary-text-color);
    }

    &__price {
        margin-bottom: 0.75em;
        font-size: var(--font-size-s);
    }

    &__description {
        display: none;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: var(--font-size-m);
    }

    &__button {
        display: flex;
        align-items: center;
    }

    &__detail-link {
        font-size: var(--font-size-s);
        color: var(--secondary-text-color);
        padding: 10px 0 0 0;
        margin-left: 10px;
        border-bottom: 1px solid;

        &:hover {
            color: var(--primary-text-color);
        }
    }
}

@media (min-width: 768px) {
    .product-teaser {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;

        &__image {
            height: auto;
            width: 100%;
            position: relative;
            border-radius: 5px;
            margin-right: 0;
        }

        &__price {
            margin-bottom: 0;
        }

        &__description {
            display: block;
        }
    }
}