.product-detail {
    display: flex;
    flex-direction: row;

    &__content {
        width: 60%;

    }
}
.product-image {
    max-width: 100%;
}
/* Tablet */
@media only screen and (max-width: 1024px) {
    .product-detail {
        flex-direction: column;
    }
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .product-detail {
    }
}