.basket {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 9; }
  .basket--cart-view {
    position: relative;
    right: 6px; }

.shopping-bag {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  color: var(--primary-color);
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease 0s; }
  .shopping-bag:visited {
    color: var(--primary-color); }
  .shopping-bag:hover {
    background-color: #000;
    color: #fff;
    transform: translate(0, -5px); }
  .shopping-bag__counter {
    position: absolute;
    right: -7px;
    top: -7px;
    height: 24px;
    width: 24px;
    border: 2px solid #D0021B;
    color: #D0021B;
    border-radius: 100px;
    background: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-s);
    text-align: center; }

/* Tablet */
/* Mobile */
@media only screen and (max-width: 768px) {
  .basket {
    position: fixed;
    padding-top: 0;
    top: 15px;
    right: 6px; }
  .shopping-bag {
    height: 50px;
    width: 50px; }
    .shopping-bag svg {
      width: 18px; }
    .shopping-bag__counter {
      right: -2px;
      top: -2px;
      height: 18px;
      width: 18px; } }
