.shopping-bag {
    position: fixed;
    padding-top: 0;
    top: 15px;
    right: 6px;
    z-index: 9;

    &--cart-view {
        position: relative;
        right: 6px;
    }

    &__link {
        height: 50px;
        width: 50px;
        border-radius: 100px;
        color: var(--primary-color);
        background-color: #FFFFFF;
        box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: all 0.3s ease 0s;

        &:visited {
            color: var(--primary-color);
        }

        &:hover {
            background-color: #000;
            color: #fff;
            transform: translate(0, -5px);
        }
    }

    &__icon {
        width: 18px;
    }

    &__counter {
        right: -2px;
        top: -2px;
        height: 18px;
        width: 18px;
        position: absolute;
        border: 2px solid #D0021B;
        color: #D0021B;
        border-radius: 100px;
        background: #fff;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-s);
        text-align: center;

        /* Animation on state change */
        &--animation{
            animation:Score-keyframes--bounce .5s ease-out
        }
    }
}

@media (min-width: 768px) {
    .shopping-bag {
        position: fixed;
        top: 30px;
        right: 30px;

        &__link {
            height: 60px;
            width: 60px;
        }

        &__icon {
            width: inherit;
        }

        &__counter {
            right: -7px;
            top: -7px;
            height: 24px;
            width: 24px;
        }
    }
}

@keyframes Score-keyframes--bounce{
    0% { transform: scale(1.0) }
    10% { transform: scale(1.0) }
    20% { transform: scale(1.5) }
    40% { transform: scale(1.0) }
    60% { transform: scale(0.8) }
    80% { transform: scale(0.8) }
}