.shopping-bag {
    height: 60px;
    width: 60px;
    border-radius: 100px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;

    &:hover {
        background-color: #000;
        color: #fff;
    }

    &__counter {
        position: absolute;
        right: -7px;
        top: -7px;
        height: 24px;
        width: 24px;
        border: 2px solid #D0021B;
        color: #D0021B;
        border-radius: 100px;
        background: #fff;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    &--blue {
        background-color: blue;
    }
}