.cart-entry {
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid var(--border-light);
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Mobile */
    @media only screen and (max-width: 768px) {
        flex-direction: column;

        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }

}

.cart-entry__content {
    flex-grow: 2;
    display: flex;
    align-self: flex-start;

    .cart-entry__image {
        border: 0px solid red;

        img {
            width: 90px;
        }
    }

    .cart-entry__details {
        padding: 10px 0px 0px 20px;

        h3 {
            margin-bottom: 6px;
        }
        p {
            font-size: var(--font-size-s);
            color: var(--secondary-text-color);
        }
    }
}

.cart-entry__controls {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    font-size: var(--font-size-s);

    /* Tablet */
    @media only screen and (max-width: 1024px) {
        flex-direction: row;
    }

    /* Mobile */
    @media only screen and (max-width: 768px) {
        // flex-direction: column;
        align-self: flex-end;
    }

    .entry-quantity {
        align-self: center;
        // background-image: url(dropdown-arrow.svg);
        
        select {
            margin-left: 10px;
            width: 65px;
            padding: 5px 0px 5px 15px;
            font-size: var(--font-size-s);
            border: 1px solid var(--bg-color-light);
            border-radius: 30px;
            outline: none;
            height: 40px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: url(dropdown-arrow.svg) 70% / 12% no-repeat var(--bg-color-light);
            cursor: pointer;

            &:hover {
                border: 1px solid var(--border-light);
            }
        }

    }

    .entry-price,
    .entry-remove {
        align-self: center;
    }

    .entry-price {
        margin-left: 20px;
    }

    .entry-remove {
        margin-left: 20px;
        a {
            width: 40px;
            height: 40px;
            border: 1px solid var(--bg-color-light);
            border-radius: 30px;
            display: block;
            text-indent: -9999px;
            background: var(--bg-color-light) url(remove.svg) no-repeat center center;
            cursor: pointer;

            &:hover {
                border: 1px solid var(--border-light);
            }
        }
    }

}