.cart-entry {
    border-bottom: 1px solid var(--border-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
    margin: 10px -15px 0;
    padding: 0 15px;

    &__content {
        flex-grow: 2;
        display: flex;
        align-self: flex-start;
    }

    &__image {
        border: 0 solid red;
        width: 90px;
        height: auto;
    }

    &__details {
        padding: 10px 0 0 20px;
    }

    &__details-title {
        margin-bottom: 6px;
    }

    &__details-text {
        font-size: var(--font-size-s);
        color: var(--secondary-text-color);
    }

    &__controls {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        font-size: var(--font-size-s);
    }

    &__quantity {
        align-self: center;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .Select-control {
            margin-left: 10px;
            width: 65px;
            padding: 5px 10px 5px 15px;
            font-size: var(--font-size-s);
            border: 1px solid var(--bg-color-light);
            border-radius: 30px;
            outline: none;
            height: 40px;
            appearance: none;
            background: var(--bg-color-light);
            cursor: pointer;

            &:hover {
                border: 1px solid var(--border-light);
            }
        }

        .Select-value {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }

    }

    &__price,
    &__remove {
        align-self: center;
    }

    &__price {
        margin-left: 20px;
    }

    &__remove {
        margin-left: 20px;
    }

    &__remove-button {
        width: 40px;
        height: 40px;
        border: 1px solid var(--bg-color-light);
        border-radius: 30px;
        display: block;
        text-indent: -9999px;
        background: var(--bg-color-light) url('remove.svg') no-repeat center center;
        cursor: pointer;
        outline: none;

        &:hover {
            border: 1px solid var(--border-light);
        }
    }

}

@media (max-width: 767px) {
    .cart-entry {
        &__controls {
            align-self: auto;
            margin-bottom: 10px;
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }
}

@media (min-width: 768px) {
    .cart-entry {
        padding: 20px 0 20px 0;
        flex-flow: row nowrap;
        margin: 0;
    }
}

@media (min-width: 1025px) {
    .cart-entry {

    }
}