.customizer-navigation {
  &__list {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-bottom: 1px solid var(--border-light);
  }
  &__item {

    &-link {
      font-weight: 500;
      padding: 30px 10px;
      display: block;
      border-bottom: 1px solid transparent;
      margin-bottom: -1px;

      &:active,
      &:hover {
        border-bottom: 1px solid var(--primary-color);
      }
    }
  }
}