.intro-header {
    box-sizing: border-box;

    .intro-header__content {
        height: 35vh;
        min-height: 300px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;

        h1 {
            margin-top: auto;
            margin-bottom: 15px;
        }

        p {
            font-size: var(--font-size-l);
            line-height: 1.75rem;
            color: var(--secondary-text-color);
        }
    
    }

}

/* Mobile */
@media only screen and (max-width: 768px) {
    .intro-header {
        .intro-header__content {
            padding-bottom: 20px;

            p {
                line-height: 1.4rem;
            }
        }
    }

}
