.order-information {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--border-light);
    border-bottom: 1px solid var(--border-light);
    height: 200px;

    /* Tablet */
    @media only screen and (max-width: 1024px) {
        height: 175px;
    }

    /* Mobile */
    @media only screen and (max-width: 768px) {
        height: 125px;
        // flex-direction: column;
    }


    .order-information__nr,
    .order-information__time {
        flex: 0 0 50%;
        padding: 20px;
        display: flex;
        flex-direction: column;

        p {
            margin-top: auto;
            font-size: 5.625rem; // 90px
            line-height: 1.0;
            color: var(--primary-text-color);

            /* Tablet */
            @media only screen and (max-width: 1024px) {
            }

            /* Mobile */
            @media only screen and (max-width: 768px) {
                font-size: 2.5rem; // 40px
            }
        }
    }

    .order-information__nr {
        border-left: 1px solid var(--border-light);
    }
    .order-information__time {
        border-left: 1px solid var(--border-light);
        border-right: 1px solid var(--border-light);
    }
    
}