.order-information {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--border-light);
    border-bottom: 1px solid var(--border-light);
    height: 125px;

    &__block {
        flex: 0 0 50%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        border-left: 1px solid var(--border-light);

        &:last-of-type {
            border-right: 1px solid var(--border-light);
        }
    }

    &__text {
        margin-top: auto;
        font-size: 2.5rem; // 40px
        line-height: 1.0;
        color: var(--primary-text-color);
    }
}

@media (min-width: 768px) {
    .order-information {
        height: 175px;

        &__text {
            font-size: 5.625rem; // 90px
        }
    }
}

@media (min-width: 1025px) {
    .order-information {
        height: 200px;
    }
}