.product-customizer {
  width: 100%;
  height: 65vh;
  overflow-y: scroll;
  background: var(--bg-color-grey);
  display: flex;
  flex-flow: column nowrap;
}

@media (min-width: 768px) {
  .product-customizer {
    width: 36%;
    height: 100%;
  }
}