.custom-product {
  padding-top: 20px;
  text-align: center;

  &__image {
    width: 200px;
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .custom-product {
    padding-top: 50px;

    &__image {
      width: 500px;
    }
  }
}