.back-button {
    padding-top: 30px;

    /* Tablet */
    @media only screen and (max-width: 1024px) {
        padding-top: 20px;
    }

    /* Mobile */
    @media only screen and (max-width: 768px) {
        padding-top: 15px;
    }

    .back-button__link {
        display: block;
        font-size: var(--font-size-s);
        padding: 15px 20px 15px 30px;
        border-radius: 100px;
        background-color: #FFF;
        background: transparent url(backbutton-arrow.svg) no-repeat 14px 47.5%;
        color: var(--primary-color);

        &:hover {
            background-color: var(--bg-color-light);
        }
    }
}