.product-categories {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-bottom: 25px;

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
    }

    &__item {
        padding: 0 1em 0 0;
        color: var(--secondary-text-color);

        &.active {
            color: var(--primary-text-color);
        }

        &:hover {
            color: var(--primary-text-color);
        }
    }
}